body {
    --body-padding-top: 94px;
    padding-top: var(--body-padding-top);
}

.header {
    align-items: center;
    background-color: var(--black);
    border-bottom: 2px solid var(--primary);
    display: flex;
    height: 100px;
    justify-content: space-between;
    left: 0;
    padding-left: 5%;
    padding-right: 5%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}

.logo {
    max-width: 168px;
}


.button-link {
    border: 1px solid var(--white);
    border-radius: 5px;
    box-sizing: border-box;
    color: var(--white);
    cursor: pointer;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    display: inline-block;
    outline: none;
    padding: 16px 24px;
    transition: border-color .3s;
    text-decoration: none;
}

.button-link:hover, .button-link:focus {
    border-color: var(--primary);
    opacity: .75;
}

@media(max-width: 800px) {
    body {
        --body-padding-top: 40px;
        padding-top: var(--body-padding-top);
    }

    .header {
        height: 70px;
        justify-content: center;
    }

    .logo {
        max-width: 105px;
    }

    a.button-link {
        background: var(--primary);
        border: 0;
        border-radius: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: fixed;
        text-align: center;
      }
}