.error {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.error h1 {
    font-size: 3.25rem;
}

.error h2 {
    font-size: 2rem;
}

.error p {
    font-size: 1.25rem;
    margin-top: 30px;
}

.error a {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.error a:hover {
    color: var(--primary);
}
