div {
    display: flex;
    flex-direction: column;
    margin: 0;
}

label {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

input, textarea {
    background-color: var(--black);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px var(--primary);
    color: var(--white);
    font-size: 1.15rem;
    margin-bottom: 30px;
    outline: none;
    padding: 10px;
    position: relative;
}

input:focus, textarea:focus {
    box-shadow: 0px 0px 10px 2px var(--primary);
}

input::placeholder, textarea::placeholder{
    color: var(--gray-medium);
    font-weight: 300;
}

input[type="color"] {
    height: 55px;
    padding: 8px;
    width: 78px;
}

@media(max-width: 800px) {
    label {
        font-size: 1.1rem;
    }

    input::placeholder, textarea::placeholder{
        font-size: 1rem;
    }

}