* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary: #DB202C;
    --black: #000000;
    --black-lighter: #9E9E9E;
    --black-medium: #53585D;
    --gray-light: #E5E5E5;
    --gray-medium: #C5C5C5;
    --gray-dark: #B5B5B5;
    --white: #FFFFFF;

    --main-background-color: #141414;
}

html, body {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

#root {
    min-height: calc(100vh - var(--body-padding-top));
    display: flex;
    flex-direction: column;
}