* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary: #DB202C;
    --black: #000000;
    --black-lighter: #9E9E9E;
    --gray-light: #F5F5F5;
    --gray-medium: #E5E5E5;
    --white: #FFFFFF;
    --front-end: #6BD1FF;
    --back-end: #00C86F;
}

html, body {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}